<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Editar</title>
</head>
<body>
        <h2>Registro de persona {{persona.nombre}} {{persona.apellido}}</h2>
        <form action="/registro/editado/{{persona.id}}" method="post">
            {% csrf_token %}
            <label for="nombre">nombre</label>
            <input type="text" name="nombre" placeholder="nombre" value="{{persona.nombre}}">
            <label for="apellido">apellido</label>
            <input type="text" name="apellido" placeholder="apellido" value="{{persona.apellido}}">
            <label for="edad">edad</label>
            <input type="number" name="edad" placeholder="edad" value="{{persona.edad}}">
            <input type="submit" value="guardar">
        </form>
    
</body>
</html>